
.Heading{
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items:flex-end;
}


.Heading h1{
 text-decoration:underline;
}

.MainDiva{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;

  }


.MainDiva  .imgp{
  width: 30%;
 
}


.MainDiva  .imgp img{
  border-radius: 10px;
   
  
}


.MainDiva  .intro{

    width: 50%;
  
    margin-left: 10%;
}


.MainDiva  .intro {

    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
  
}