
.MainDiv{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}


.MainDiv h2{
    color: #01579b;
}

.MainDivf{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

